<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <label for="user">User</label>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <select
            name="user"
            id="user"
            class="form-control"
            name="user"
            ngModel
          >
            <option *ngFor="let user of allUsers" [value]="user.id">{{
              user.name
            }}</option>
            <!-- <option value="val1">test user</option>
            <option value="val2">test 2 user</option> -->
          </select>
        </div>
      </div>
      <div class="row">
        <label for="title">Title</label>
      </div>
      <div class="row">
        <div class="col-sm-6 form-group">
          <input
            type="text"
            id="title"
            class="form-comtrol"
            name="title"
            ngModel
          />
        </div>
      </div>
      <div class="row">
        <label for="body">Body</label>
      </div>
      <div class="row">
        <div class="col-sm-15 form-group">
          <textarea
            name="body"
            id="body"
            cols="30"
            rows="10"
            ngModel
          ></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 btn-toolbar">
          <button class="btn btn-success" type="submit">Submit</button>
          <button class="btn btn-danger" type="button">Delete</button>
          <button class="btn btn-primary" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
